<div class="patients-panel">
<h2 class="header">Sally Smith <div class="button-container">
  <button mat-fab aria-label="Add an episode">
    <mat-icon>add</mat-icon>
  </button>
</div>
</h2>


<table class="mat-elevation-z8">
<thead>
  <th> Date </th>
  <th> Time </th>

  <th></th>
</thead>
  <tbody>
  <tr>
  <td> Feburary 22 2022</td>
  <td> 18:56 </td>
  <td> <a href="#">detail</a> </td>
  </tr>
  <tr>
  <td> June 22 2022</td>
  <td> 23:11 </td>
  <td> <a href="#">detail</a> </td>
  </tr>
  </tbody>


</table>
</div>
