.mat-form-field {
  display: block;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.invisible {
  visibility: hidden;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

