<h2 mat-dialog-title>Edit Medication</h2>

<mat-dialog-content [formGroup]="medicationForm">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <div class="dose-container">
    <mat-form-field appearance="fill" class="dose-amount">
      <mat-label>Dose Amount</mat-label>
      <input matInput type="number" formControlName="doseAmount">
    </mat-form-field>
    <mat-form-field appearance="fill" class="dose-unit">
      <mat-label>Unit</mat-label>
      <mat-select formControlName="doseUnit">
        <mat-option value="ng">ng</mat-option>
        <mat-option value="μg">μg</mat-option>
        <mat-option value="mg">mg</mat-option>
        <mat-option value="g">g</mat-option>
        <mat-option value="ml">ml</mat-option>
        <mat-option value="caps">caps</mat-option>
        <mat-option value="L/m">L/m</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <mat-select #medicationType formControlName="type">
      <mat-option value="Daily">Daily</mat-option>
      <mat-option value="Rescue">Rescue</mat-option>
      <mat-option value="Alternative">Alternative</mat-option>
    </mat-select>
  </mat-form-field>
  <div [class]="'checkbox-container' + ((medicationType.value=='Rescue')? ' invisible':'')">
    <mat-label>Is this medication active currently?</mat-label>
    <mat-checkbox formControlName="active" color="primary">
    </mat-checkbox>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="close()">Close</button>

  <button mat-raised-button color="primary" [disabled]="!medicationForm.valid" (click)="save()">Save</button>
</mat-dialog-actions>
