.mat-form-field {
  display: block;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.gene-container {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.gene-container {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
