.mat-mdc-form-field {
  display: block;
}

.gene-container {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.mat-mdc-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
