<div class="login">
  
  <ng-container *ngIf="!signInClicked; else elseTemplate">
    <h2>Sign Up/Login</h2>
    <button class="login-btn new-account" mat-raised-button routerLink="/signup">Create new Account</button>
    <button class="login-btn email " mat-raised-button (click)="toggleEmailClicked()">Sign in with Email</button>
    <!-- <button class="login-btn" mat-raised-button color="warn" (click)="googleLogin()">Sign in with Google</button> -->
    <firebase-ui (signInSuccessWithAuthResult)="onLoginSuccessful()"></firebase-ui>
  </ng-container>

  <ng-template #elseTemplate>
    <div class="create-user">
      <h1>Login With Email</h1>
    
      <form [formGroup]="userForm">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>
        <div class="button-group">
          <button mat-raised-button color="primary" [disabled]="!userForm.valid" (click)="emailLogin()">
            Login
          </button>
          <button mat-raised-button color="warn" (click)="toggleEmailClicked()">
            Cancel
          </button>
        </div>
        <div style="margin-top: 10px;">
          <span class="error">{{signInError}} </span>
      </div>
      </form>
    </div>
  </ng-template>
  
</div>

