.create-patient {
  text-align: left;
  max-width: 350px;
  margin: 20px auto 20px auto;
  padding: 0 20px 0 20px;
}

mat-form-field {
  width: 100%;
}

.gene-container {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

button {
  display: block;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

