<div class="create-patient">
  <h1>Add a New Patient</h1>

  <form [formGroup]="patientForm">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="DOBDatePicker" formControlName="birthDate" />
      <mat-datepicker-toggle matSuffix [for]="DOBDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #DOBDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Date of Diagnosis</mat-label>
      <input matInput [matDatepicker]="diagnosisDatePicker" formControlName="dateOfDiagnosis" />
      <mat-datepicker-toggle matSuffix [for]="diagnosisDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #diagnosisDatePicker></mat-datepicker>
    </mat-form-field>
    <div class="gene-container">
      <span>Gene: </span>
      <mat-radio-group aria-label="Gene" formControlName="gene" color="primary">
        <mat-radio-button value="ATP1A2">ATP1A2</mat-radio-button>
        <mat-radio-button value="ATP1A3">ATP1A3</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Mutation</mat-label>
      <mat-select formControlName="mutation" #mutationDropdown>
        <mat-option value="D801">D801</mat-option>
        <mat-option value="E815K">E815K</mat-option>
        <mat-option value="G947R">G947R</mat-option>
        <mat-option value="Other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Weight (lbs)</mat-label>
      <input type="number" matInput formControlName="weight">
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="mutationDropdown.value=='Other'">
      <mat-label>Other Mutation</mat-label>
      <input matInput formControlName="otherMutation">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Primary Physician Name</mat-label>
      <input matInput formControlName="primaryPhysicianName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Primary Physician Phone</mat-label>
      <input matInput formControlName="primaryPhysicianPhone" placeholder="(XXX) XXX-XXXX" mask="(000) 000-0000">
    </mat-form-field>
    <quill-editor formControlName="otherDoctorInfo" [sanitize]="true">
      <div quill-editor-toolbar>
      <span class="ql-formats">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
      </span>
      </div>
    </quill-editor>
    <button mat-raised-button color="primary" [disabled]="!patientForm.valid" (click)="onCreatePatient()">
      Add Patient
    </button>
  </form>
</div>
