.create-patient {
  text-align: left;
  max-width: 350px;
  margin: 20px auto 20px auto;
  padding: 0px 20px 0px 20px;
}

mat-form-field {
  width: 100%;
}

button {
  display: block;
}
