<button mat-icon-button #filterButton (click)="toggleOverlay()">
  <mat-icon>filter_list</mat-icon>
</button>
<ng-template #filterFormTemplate>
  <div class="container not-printable mat-elevation-z10">
    <p style="font-size: 13px">Filter By:</p>
    <form [formGroup]="filterForm">
      <mat-form-field>
        <mat-label>Start Time Date Range</mat-label>
        <mat-date-range-input formGroupName="startTime" [rangePicker]="startTimePicker">
          <input matStartDate formControlName="start" placeholder="Start">
          <input matEndDate formControlName="end" placeholder="End">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="startTimePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #startTimePicker
                               (opened)="onDatePickerStateChange(true)"
                               (closed)="onDatePickerStateChange(false)">
        </mat-date-range-picker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>End Time Date Range</mat-label>
        <mat-date-range-input formGroupName="endTime" [rangePicker]="endTimePicker">
          <input matStartDate formControlName="start" placeholder="Start">
          <input matEndDate formControlName="end" placeholder="End">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="endTimePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #endTimePicker
                               (opened)="onDatePickerStateChange(true)"
                               (closed)="onDatePickerStateChange(false)">
        </mat-date-range-picker>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!filterForm.valid" (click)="applyFilters()">
        Apply
      </button>
    </form>
  </div>
</ng-template>
