<div class="create-user">
    <h1>Add a New User</h1>
  
    <form [formGroup]="userForm">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!userForm.valid" (click)="onCreateUser()">
        Register
      </button>
      <div style="margin-top: 10px;">
        <span class="error">{{signUpError}} </span>
    </div>
    </form>
  </div>
  