<div class="create-episode">
  <div *ngIf="!loadingPatient">
    <h1>Record a New Episode for {{patient.firstName}} {{patient.lastName}}</h1>

    <button *ngIf="!patient.firstName" matTooltip="Add new patient"
      mat-fab  aria-label="Add new patient" routerLink="/add-patient">
     <mat-icon>add</mat-icon>
    </button>
    <form *ngIf="patient.firstName" [formGroup]="episodeForm">
      <mat-form-field appearance="outline">
        <mat-label>Start Time</mat-label>
        <input matInput [ngxMatDatetimePicker]="StartTimePicker" formControlName="startTime" />
        <mat-datepicker-toggle matSuffix [for]="StartTimePicker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #StartTimePicker [showSeconds]="true" [enableMeridian]="true">
        </ngx-mat-datetime-picker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>End Time</mat-label>
        <input matInput [ngxMatDatetimePicker]="EndTimePicker" formControlName="endTime" />
        <mat-datepicker-toggle matSuffix [for]="EndTimePicker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #EndTimePicker [showSeconds]="true" [enableMeridian]="true">
        </ngx-mat-datetime-picker>
      </mat-form-field>
      <mat-label>Symptoms:</mat-label>
      <div class="symptoms-group" formGroupName="symptomGroup">
        <div class="symptom-container" *ngFor="let symptom of symptomLabels">
          <div class="symptom-checkbox-container">
            <mat-checkbox #checkbox color="primary" [formControlName]="symptom+' Checkbox'"
                          [class]="(episodeForm.get('symptomGroup').touched &&
                            episodeForm.get('symptomGroup').hasError('requireCheckboxesToBeChecked'))?
                          'checkbox-error' : ''">
              {{symptom}}
            </mat-checkbox>
            <mat-form-field  *ngIf="symptom != 'Loss of Consciousness' && symptom != 'Seizure' && symptom !== 'Apnea/Breathing'"
                             [class]="(checkbox.checked)? '': 'invisible'" appearance="fill">
              <mat-label *ngIf="symptom!='Eyes' && symptom !='Autonomic Dysfunction' && symptom != 'Swallowing/Choking' && symptom != 'Chorea/Tremors'">Type of Action</mat-label>
              <mat-select *ngIf="symptom!='Eyes' && symptom !='Autonomic Dysfunction' && symptom != 'Swallowing/Choking' && symptom != 'Chorea/Tremors'" [formControlName]="symptom+' Dropdown'"
                          [errorStateMatcher]="formGroupErrorMatcher">
                <mat-option value="floppy">Floppy (Hemiplegia)</mat-option>
                <mat-option value="rigid">Rigid (Dystonia)</mat-option>
              </mat-select>
              <mat-label *ngIf="symptom=='Eyes'">Abnormalities</mat-label>
              <mat-select *ngIf="symptom=='Eyes'" [formControlName]="symptom+' Dropdown'"
                          [errorStateMatcher]="formGroupErrorMatcher">
                <mat-option value="nystagmus">Nystagmus</mat-option>
                <mat-option value="outward">Outward (Exotropia)</mat-option>
                <mat-option value="inward">Inward (Esotropia)</mat-option>
              </mat-select>

              <mat-label *ngIf="symptom =='Autonomic Dysfunction' && !showAutonomicTextField">Type of Action</mat-label>
              <mat-select *ngIf="symptom =='Autonomic Dysfunction' && !showAutonomicTextField" [formControlName]="symptom+' Dropdown'"
                          [errorStateMatcher]="formGroupErrorMatcher">
                <mat-option value="flushing" (click)="onAutonomicOtherClick('notother')">Flushing</mat-option>
                <mat-option value="mottling" (click)="onAutonomicOtherClick('notother')">Mottling</mat-option>
                <mat-option value="hot or cold body parts" (click)="onAutonomicOtherClick('notother')">Hot or cold body parts</mat-option>
                <mat-option value="vomiting" (click)="onAutonomicOtherClick('notother')">Vomiting</mat-option>
                <mat-option value="other" (click)="onAutonomicOtherClick('other')">Other</mat-option>
              </mat-select>

              <mat-label *ngIf="symptom == 'Chorea/Tremors' || symptom == 'Swallowing/Choking' || (symptom =='Autonomic Dysfunction' && showAutonomicTextField)">Type of Action</mat-label>
              <input *ngIf="symptom == 'Chorea/Tremors' || symptom == 'Swallowing/Choking' || (symptom =='Autonomic Dysfunction' && showAutonomicTextField)" matInput [formControlName]="symptom+' TextBox'">

            </mat-form-field>
            <mat-form-field *ngIf="symptom == 'Loss of Consciousness' || symptom == 'Seizure'"
              class="invisible" style="width: 0;">
              <input matInput>
            </mat-form-field>
          </div>
          <mat-form-field appearance="fill" *ngIf="(checkbox.checked)">
            <mat-label>Time</mat-label>
            <input matInput [ngxMatDatetimePicker]="SymptomTimePicker" [formControlName]="symptom+' Time'" />
            <mat-datepicker-toggle matSuffix [for]="SymptomTimePicker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #SymptomTimePicker [showSeconds]="true" [enableMeridian]="true">
            </ngx-mat-datetime-picker>
            <mat-hint>Leave this field blank to use <i>Start Time</i>.</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <mat-slide-toggle style="display:block; margin-bottom: 10px;"
                        #trigger formControlName="trigger"
                        color="primary">
        Known Triggers?
      </mat-slide-toggle>
      <div class="trigger-container" style="margin-top: -10px;" *ngIf="trigger.checked" formGroupName="triggerGroup">
        <div class="trigger-checkboxes">
          <mat-checkbox color="primary" formControlName="food">Food</mat-checkbox>
          <mat-checkbox color="primary" formControlName="light">Light</mat-checkbox>
          <mat-checkbox color="primary" formControlName="anxiety">Anxiety</mat-checkbox>
          <mat-checkbox color="primary" formControlName="medication">Medication</mat-checkbox>
          <mat-checkbox color="primary" formControlName="stress">Stressful Situation</mat-checkbox>
          <mat-checkbox color="primary" formControlName="excitement">Over Excitement</mat-checkbox>
          <mat-checkbox color="primary" formControlName="menstruation">Menstruation</mat-checkbox>
          <mat-checkbox color="primary" formControlName="temperature">Temperature Change</mat-checkbox>
          <mat-checkbox color="primary" formControlName="water">Water (Swimming, Bathing, Showering)</mat-checkbox>
          <mat-checkbox color="primary" formControlName="flushing">Flushing</mat-checkbox>
          <mat-checkbox color="primary" formControlName="mottling">Mottling</mat-checkbox>
          <mat-checkbox color="primary" formControlName="hot_or_cold_body_parts">Hot or cold body parts</mat-checkbox>
          <mat-checkbox color="primary" formControlName="vomiting">Vomiting</mat-checkbox>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Additional Triggers</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="2"
                    formControlName="additionalTriggers"></textarea>
        </mat-form-field>
      </div>
      <mat-slide-toggle style="display:block;" formControlName="rescueMedToggle"
                        color="primary" #rescueMedToggle
                        (change)="onMedToggleChange($event.checked)">
        Rescue Medication?
      </mat-slide-toggle>
      <div class="medications-group"
           *ngIf="rescueMedToggle.checked && !loadingRescueMeds"
           formGroupName="rescueMedGroup">
        <div class="medication-container" *ngFor="let rescueMed of rescueMedications; index as i">
          <div class="medication-checkbox-container">
            <mat-checkbox #checkbox color="primary" [formControlName]="'med-'+i+'-checkbox'"
                          [class]="(episodeForm.get('rescueMedGroup').touched &&
                            episodeForm.get('rescueMedGroup').hasError('requireCheckboxesToBeChecked'))?
                          'checkbox-error' : ''">
              {{rescueMed.name}}
            </mat-checkbox>
            <mat-form-field appearance="outline">
              <mat-label>Dose</mat-label>
              <input matInput type="number" [formControlName]="'med-'+i+'-dose-amount'"
                     [errorStateMatcher]="formGroupErrorMatcher"/>
              <mat-select [formControlName]="'med-'+i+'-dose-unit'">
                <mat-option value="ng">ng</mat-option>
                <mat-option value="μg">μg</mat-option>
                <mat-option value="mg">mg</mat-option>
                <mat-option value="g">g</mat-option>
                <mat-option value="ml">ml</mat-option>
                <mat-option value="caps">caps</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-form-field *ngIf="checkbox.checked" appearance="outline">
            <mat-label>Time</mat-label>
            <input matInput [ngxMatDatetimePicker]="rescueMedTimePicker" [formControlName]="'med-'+i+'-time'" />
            <mat-datepicker-toggle matSuffix [for]="rescueMedTimePicker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #rescueMedTimePicker [showSeconds]="true" [enableMeridian]="true">
            </ngx-mat-datetime-picker>
            <mat-hint>Leave this field blank to use <i>Start Time</i>.</mat-hint>
          </mat-form-field>
        </div>
        <a href="javascript:void(0)" (click)="createRescueMed()">Don't see rescue medication? Add one now</a>
      </div>
      <div class="med-spinner-container" *ngIf="rescueMedToggle.checked && loadingRescueMeds">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
      <h3>Active Prescription Medications</h3>
      <div *ngIf="!loadingPrescriptionMeds">
        <ol *ngIf="prescriptionMeds.length > 0">
          <li *ngFor="let prescriptionMed of prescriptionMeds">
            {{prescriptionMed.name}}, {{prescriptionMed.doseInfo.amount}} {{prescriptionMed.doseInfo.unit}}
          </li>
        </ol>
        <p *ngIf="prescriptionMeds.length <=0">None</p>
      </div>
      <div class="med-spinner-container" *ngIf="loadingPrescriptionMeds">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Other Behaviors</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="2"
                  formControlName="behavior"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!episodeForm.valid" (click)="onCreateEpisode()">
        Record Episode
      </button>
    </form>
  </div>
  <div class="patient-spinner-container" *ngIf="loadingPatient">
    <mat-spinner></mat-spinner>
  </div>
</div>
