<div class="create-episode">
  <div *ngIf="!loadingPatient">
    <h1>Record a New Episode for {{patient.firstName}} {{patient.lastName}}</h1>

    <form [formGroup]="episodeForm">
      <mat-form-field appearance="outline">
        <mat-label>Start Time</mat-label>
        <input matInput [ngxMatDatetimePicker]="StartTimePicker" formControlName="startTime" />
        <mat-datepicker-toggle matSuffix [for]="StartTimePicker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #StartTimePicker [showSeconds]="true" [enableMeridian]="true"></ngx-mat-datetime-picker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>End Time</mat-label>
        <input matInput [ngxMatDatetimePicker]="EndTimePicker" formControlName="endTime" />
        <mat-datepicker-toggle matSuffix [for]="EndTimePicker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #EndTimePicker [showSeconds]="true" [enableMeridian]="true"></ngx-mat-datetime-picker>
      </mat-form-field>
      <mat-label>Symptoms:</mat-label>
      <div class="symptom-group" formGroupName="symptomGroup">
        <div class="symptom-container" *ngFor="let symptom of symptomLabels">
          <mat-checkbox #checkbox color="primary" [formControlName]="symptom+' Checkbox'">
            {{symptom}}
          </mat-checkbox>
          <mat-form-field  *ngIf="symptom != 'Loss of Consciousness' && symptom != 'Seizure'"
                           [class]="(checkbox.checked)? '': 'invisible'" appearance="fill">
            <mat-label *ngIf="symptom!='Eyes'">Type of Action</mat-label>
            <mat-select *ngIf="symptom!='Eyes'" [formControlName]="symptom+' Dropdown'">
              <mat-option value="floppy">Floppy (Hemiplegia)</mat-option>
              <mat-option value="rigid">Rigid (Dystonia)</mat-option>
            </mat-select>
            <mat-label *ngIf="symptom=='Eyes'">Abnormalities</mat-label>
            <mat-select *ngIf="symptom=='Eyes'" [formControlName]="symptom+' Dropdown'">
              <mat-option value="nystagmus">Nystagmus</mat-option>
              <mat-option value="outward">Outward (Exotropia)</mat-option>
              <mat-option value="inward">Inward (Esotropia)</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="symptom == 'Loss of Consciousness' || symptom == 'Seizure'"
            class="invisible">
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <mat-slide-toggle #trigger formControlName="trigger" color="primary">Known Triggers?</mat-slide-toggle>
      <div class="trigger-container" *ngIf="trigger.checked" formGroupName="triggerGroup">
        <div class="trigger-checkboxes">
          <mat-checkbox color="primary" formControlName="food">Food</mat-checkbox>
          <mat-checkbox color="primary" formControlName="light">Light</mat-checkbox>
          <mat-checkbox color="primary" formControlName="anxiety">Anxiety</mat-checkbox>
          <mat-checkbox color="primary" formControlName="medication">Medication</mat-checkbox>
          <mat-checkbox color="primary" formControlName="stress">Stressful Situation</mat-checkbox>
          <mat-checkbox color="primary" formControlName="excitement">Over Excitement</mat-checkbox>
          <mat-checkbox color="primary" formControlName="menstruation">Menstruation</mat-checkbox>
          <mat-checkbox color="primary" formControlName="temperature">Temperature Change</mat-checkbox>
          <mat-checkbox color="primary" formControlName="water">Water (Swimming, Bathing, Showering)</mat-checkbox>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Additional Triggers</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="2"
                    formControlName="additionalTriggers"></textarea>
        </mat-form-field>
      </div>
      <mat-slide-toggle #rescueMedToggle formControlName="rescueMedToggle"
                                    color="primary"
                                    (change)="onMedToggleChange($event.checked)">
        Rescue Medication?
      </mat-slide-toggle>
      <div class="medication-group" *ngIf="rescueMedToggle.checked && !loadingRescueMeds" formGroupName="medicationGroup">
        <div class="medication-container" *ngFor="let rescueMed of rescueMedications; index as i">
          <mat-checkbox color="primary" [formControlName]="'med-'+i+'-checkbox'">{{rescueMed.name}}</mat-checkbox>
          <mat-form-field appearance="outline">
            <mat-label>Dose</mat-label>
            <input matInput type="number" [formControlName]="'med-'+i+'-dose-amount'"/>
            <mat-select [formControlName]="'med-'+i+'-dose-unit'">
              <mat-option value="ng">ng</mat-option>
              <mat-option value="μg">μg</mat-option>
              <mat-option value="mg">mg</mat-option>
              <mat-option value="g">g</mat-option>
              <mat-option value="ml">ml</mat-option>
              <mat-option value="caps">caps</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <a href="javascript:void(0)" (click)="createRescueMed()">Don't see rescue medication? Add one now</a>
      </div>
      <div class="med-spinner-container" *ngIf="rescueMedToggle.checked && loadingRescueMeds">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
      <h3>Active Prescription Medications</h3>
      <div *ngIf="!loadingPrescriptionMeds">
        <ol *ngIf="prescriptionMeds.length > 0">
          <li *ngFor="let prescriptionMed of prescriptionMeds">
            {{prescriptionMed.name}}, {{prescriptionMed.doseInfo.amount}} {{prescriptionMed.doseInfo.unit}}
          </li>
        </ol>
        <p *ngIf="prescriptionMeds.length <=0">None</p>
      </div>
      <div class="med-spinner-container" *ngIf="loadingPrescriptionMeds">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
      <button mat-raised-button color="primary" [disabled]="!episodeForm.valid" (click)="onCreateEpisode()">
        Record Episode
      </button>
    </form>
  </div>
  <div class="patient-spinner-container" *ngIf="loadingPatient">
    <mat-spinner></mat-spinner>
  </div>
</div>
