@use '@angular/material' as mat;
@import '../../styles';

.create-episode {
  text-align: left;
  max-width: 350px;
  margin: 20px auto 20px auto;
  padding: 0 20px 0 20px;
}

mat-form-field {
  width: 100%;
}

.symptoms-group, .symptom-container,
.trigger-container, .trigger-checkboxes,
.medications-group, .medication-container  {
  display: flex;
  flex-direction: column;
}

.trigger-container {
  margin-top: 10px;
}

mat-slide-toggle {
  display: block;
}

.symptom-checkbox-container, .medication-checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.symptom-checkbox-container > mat-form-field {
  width: 65%;
}

.medication-checkbox-container > mat-form-field {
  width: 50%;
}

::ng-deep .medication-container .mat-form-field-infix {
  display: inherit !important;
}

.med-spinner-container {
  width:100%;
}

.med-spinner-container > mat-spinner {
  margin: 10px auto 0 auto;
}

.patient-spinner-container {
  position: fixed;
  height: 360px;
  width: 390px;
}

.patient-spinner-container > mat-spinner {
  margin: 130px auto 0 auto;
}

.invisible {
  visibility: hidden;
}

button {
  display: block;
}

::ng-deep mat-checkbox.checkbox-error .mat-checkbox-frame{
  border-color: mat.get-color-from-palette($theme-warn);
}

::ng-deep mat-checkbox.checkbox-error .mat-checkbox-label{
  color: mat.get-color-from-palette($theme-warn);
}

