<h2 mat-dialog-title>Episode Details</h2>
<mat-dialog-content>
  <h3>Time</h3>
  <p>Start Time: {{episode.startTime?.toDate()| date: 'MM/dd/yyyy HH:mm'}}</p>
  <p>End Time: {{episode.endTime?.toDate()| date: 'MM/dd/yyyy HH:mm'}}</p>
  <p>id: {{episode.id}}</p>
  <div *ngIf="episode.symptoms">
    <h3>Symptoms</h3>
    <p *ngIf="!jsonObjectIsEmpty(episode.symptoms.eyes)">
      Eyes ({{episode.symptoms.eyes.type}})
    </p>
    <p *ngIf="!jsonObjectIsEmpty(episode.symptoms.leftArm)">
      Left Arm ({{episode.symptoms.leftArm.type}})
    </p>
    <p *ngIf="!jsonObjectIsEmpty(episode.symptoms.leftHand)">
      Left Hand ({{episode.symptoms.leftHand.type}})
    </p>
    <p *ngIf="!jsonObjectIsEmpty(episode.symptoms.leftLeg)">
      Left Leg ({{episode.symptoms.leftLeg.type}})
    </p>
    <p *ngIf="!jsonObjectIsEmpty(episode.symptoms.rightArm)">
      Right Arm ({{episode.symptoms.rightArm.type}})
    </p>
    <p *ngIf="!jsonObjectIsEmpty(episode.symptoms.rightHand)">
      Right Hand ({{episode.symptoms.rightHand.type}})
    </p>
    <p *ngIf="!jsonObjectIsEmpty(episode.symptoms.rightLeg)">
      Right Leg ({{episode.symptoms.rightLeg.type}})
    </p>
    <p *ngIf="!jsonObjectIsEmpty(episode.symptoms.fullBody)">
      Full Body ({{episode.symptoms.fullBody.type}})
    </p>
    <p *ngIf="!jsonObjectIsEmpty(episode.symptoms.seizure) &&
              episode.symptoms.seizure.present">
      Seizure
    </p>
    <p *ngIf="!jsonObjectIsEmpty(episode.symptoms.lossOfConsciousness) &&
              episode.symptoms.lossOfConsciousness.present">
      Loss of Consciousness
    </p>
  </div>
  <div *ngIf="episode.behavior">
    <h3>Other Behaviors</h3>
    <p>{{episode.behavior}}</p>
  </div>
  <h3>Triggers</h3>
  <p>Known Triggers: {{episode.knownTriggers? episode.knownTriggers : ""}}</p>
  <p>Other Triggers: {{episode.otherTrigger? episode.otherTrigger : ""}}</p>
  <p>Notes: {{episode.notes? episode.notes : ""}}</p>
  <div *ngIf="episode.medications">
    <h3>Medications</h3>
    <div *ngIf="episode.medications.prescriptionMeds">
      <h4>Prescription Medications</h4>
      <ol>
        <li *ngFor="let prescriptionMed of episode.medications.prescriptionMeds">
          {{prescriptionMed.name}}, {{prescriptionMed.doseInfo.amount}} {{prescriptionMed.doseInfo.unit}}
        </li>
      </ol>
    </div>
    <div *ngIf="!loadingMeds && rescueMeds.length > 0">
      <h4>Rescue Medications</h4>
      <ol>
        <li *ngFor="let rescueMed of rescueMeds" [class]="(rescueMed.archived)? 'archived-med' : ''">
          {{rescueMed.name}}, {{rescueMedsDoses[rescueMed.id].amount}} {{rescueMedsDoses[rescueMed.id].unit}}
          {{(rescueMed.archived)? "(Archived)" : ""}}
        </li>
      </ol>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="close()">Close</button>
</mat-dialog-actions>
