<h2 mat-dialog-title>Episode Details</h2>
<mat-dialog-content>
  <h3>Time</h3>
  <p>Start Time: {{episode.startTime?.toDate()| date: 'MM/dd/yyyy HH:mm'}}</p>
  <p>End Time: {{episode.endTime?.toDate()| date: 'MM/dd/yyyy HH:mm'}}</p>
  <div *ngIf="episode.symptoms">
    <h3>Symptoms</h3>
    <p>Eyes: {{episode.symptoms.eyes}}</p>
    <p>Left Arm: {{episode.symptoms.leftArm}}</p>
    <p>Left Hand: {{episode.symptoms.leftHand}}</p>
    <p>Left Leg: {{episode.symptoms.leftLeg}}</p>
    <p>Right Arm: {{episode.symptoms.rightArm}}</p>
    <p>Right Hand: {{episode.symptoms.rightHand}}</p>
    <p>Right Leg: {{episode.symptoms.rightLeg}}</p>
    <p>Full Body: {{episode.symptoms.fullBody}}</p>
    <p>Seizure: {{episode.symptoms.seizure}}</p>
    <p>Loss of Consciousness: {{episode.symptoms.lossOfConsciousness}}</p>
  </div>
  <p>Other Behaviors: {{episode.behavior? episode.behavior : ""}}</p>
  <h3>Triggers</h3>
  <p>Known Triggers: {{episode.knownTriggers? episode.knownTriggers : ""}}</p>
  <p>Other Triggers: {{episode.otherTrigger? episode.otherTrigger : ""}}</p>
  <p>Notes: {{episode.notes? episode.notes : ""}}</p>
  <div *ngIf="episode.medications">
    <h3>Medications</h3>
    <div *ngIf="episode.medications.prescriptionMeds">
      <h4>Prescription Medications</h4>
      <ol>
        <li *ngFor="let prescriptionMed of episode.medications.prescriptionMeds">
          {{prescriptionMed.name}}, {{prescriptionMed.doseInfo.amount}} {{prescriptionMed.doseInfo.unit}}
        </li>
      </ol>
    </div>
    <div *ngIf="!loadingMeds && rescueMeds.length > 0">
      <h4>Rescue Medications</h4>
      <ol>
        <li *ngFor="let rescueMed of rescueMeds" [class]="(rescueMed.archived)? 'archived-med' : ''">
          {{rescueMed.name}}, {{rescueMedsDoses[rescueMed.id].amount}} {{rescueMedsDoses[rescueMed.id].unit}}
          {{(rescueMed.archived)? "(Archived)" : ""}}
        </li>
      </ol>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="close()">Close</button>
</mat-dialog-actions>
