<h2 mat-dialog-title>Episode Details</h2>
<mat-dialog-content>
  <h3>Time</h3>
  <p>Start Time: {{episode.startTime?.toDate()| date: 'MM/dd/yyyy HH:mm'}}</p>
  <p>End Time: {{episode.endTime?.toDate()| date: 'MM/dd/yyyy HH:mm'}}</p>
  <div *ngIf="episode.symptoms">
    <h3>Symptoms</h3>
    <p>Eyes: {{episode.symptoms.eyes}}</p>
    <p>Left Arm: {{episode.symptoms.leftArm}}</p>
    <p>Left Hand: {{episode.symptoms.leftHand}}</p>
    <p>Left Leg: {{episode.symptoms.leftLeg}}</p>
    <p>Right Arm: {{episode.symptoms.rightArm}}</p>
    <p>Right Hand: {{episode.symptoms.rightHand}}</p>
    <p>Right Leg: {{episode.symptoms.rightLeg}}</p>
    <p>Full Body: {{episode.symptoms.fullBody}}</p>
    <p>Seizure: {{episode.symptoms.seizure}}</p>
    <p>Loss of Consciousness: {{episode.symptoms.lossOfConsciousness}}</p>
  </div>
  <h3>Medication and Triggers</h3>
  <p>Other Medication: {{episode.otherMedication? episode.otherMedication : ""}}</p>
  <p>Other Trigger: {{episode.otherTrigger? episode.otherTrigger : ""}}</p>
  <p>Known Trigger: {{episode.knownTriggers? episode.knownTriggers : ""}}</p>
  <p>Notes: {{episode.notes? episode.notes : ""}}</p>
  <p>Rescue Medication: {{episode.rescueMedication? episode.rescueMedication : ""}}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="close()">Close</button>
</mat-dialog-actions>
