<div class="patient-view">
  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>




<mat-card *ngFor="let patient of patients" class="patient-card mat-elevation-z10">

  <mat-card-header>

    <mat-card-title>{{patient.firstName}} {{patient.lastName}}</mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <div *ngIf="patient.gender">
      <p>Gender: {{patient.gender}}</p>
    </div>
    <div>
      <p>Birthdate: {{patient.birthDate.toDate() | date: 'MM/dd/yyyy'}}</p>
    </div>
    <div *ngIf="patient.primaryPhysicianName">
      <p>Primary Physician Name: {{patient.primaryPhysicianName}}</p>
    </div>
    <div *ngIf="patient.primaryPhysicianPhone">
      <p>Primary Physician Phone: <a [href]="'tel:' + patient.primaryPhysicianPhone">{{patient.primaryPhysicianPhone| mask: '(000) 000-0000'}}</a></p>
    </div>
    <div *ngIf="patient.otherDoctorInfo" class="other-doctor-info">
      <h3>Other Doctors Information</h3>
      <p [innerHTML]="patient.otherDoctorInfo"></p>
    </div>
    <p *ngIf="patient.dateOfDiagnosis || patient.gene || patient.mutation">
      <b>Diagnosis</b>
    </p>
    <div *ngIf="patient.dateOfDiagnosis">
      <p>Date of Diagnosis: {{patient.dateOfDiagnosis.toDate() | date: 'MM/dd/yyyy'}}</p>
    </div>
    <div *ngIf="patient.gene">
      <p>Gene: {{patient.gene}}</p>
    </div>
    <div *ngIf="patient.mutation">
      <p>Mutation: {{patient.mutation}} {{(patient.mutation=='Other')? ' (' + patient.otherMutation+')': ''}}</p>
    </div>
  </mat-card-content>

  <mat-card-actions class="patient-actions">
    <button mat-button (click)="editPatient(patient)">Edit</button>
    <button mat-button color="warn" (click)="onDeletePatient(patient)">Delete</button>

  </mat-card-actions>

</mat-card>
  <div *ngIf="!loading">
  Add New Patient <button mat-mini-fab color="accent" routerLink="/add-patient">
  <mat-icon class="add-patient-btn">add</mat-icon>
</button>
  </div>
</div>
