<div>
  <h2 mat-dialog-title>User Profile</h2>
  <mat-dialog-content>
    <form>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>User Name</mat-label>
        <input matInput [(ngModel)]="username" name="username" />
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-flat-button color="primary" (click)="update()" [disabled]="!username">
      Update
    </button>
  </mat-dialog-actions>
</div>
