.patients-panel {
  max-width: 400px;
  margin: 20px auto 10px auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.episode-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.button-container{
  margin-left: 10px;
}

table {
  width: 100%;
}
.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}
