.episodes-div {
  max-width: 400px;
  margin: 20px auto 10px auto;
}

table {
  width: 100%;
}

@media only screen and (max-width:400px) {
  .episodes-div {
    overflow-x: scroll;
    margin: 20px 0 10px 0;
  }

  table {
    width: 400px;
  }
}

.episode-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.mat-mdc-icon-button {
  width: 32px !important;
  height: 32px !important;
  padding: 4px 0 0 0 !important;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: unset;
}

th.mat-mdc-header-cell:first-of-type, td.mat-mdc-cell:first-of-type, td.mat-mdc-footer-cell:first-of-type {
  padding-left: 18px !important;
}

th.mat-mdc-header-cell:last-of-type, td.mat-mdc-cell:last-of-type, td.mat-mdc-footer-cell:last-of-type {
  padding-right: 0 !important;
}

.spinner-container mat-spinner {
  margin: 10px auto 0 auto;
}

.load-button {
  margin-top: 10px;
}
