
<mat-table class="lessons-table mat-elevation-z8"
           [dataSource]="episodes">

  <ng-container matColumnDef="startDate">
    <mat-header-cell *matHeaderCellDef>Meet Name</mat-header-cell>
    <mat-cell *matCellDef="let result">{{result.startTime?.toDate()| date: 'MM/dd/yyyy'}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="endTime">
    <mat-header-cell *matHeaderCellDef>End Time</mat-header-cell>
    <mat-cell *matCellDef="let result">{{result.endTime?.toDate()| date: 'MM/dd/yyyy'}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="time">
    <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
    <mat-cell *matCellDef="let result">{{calculateDuration(result.startTime, result.endTime)}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="link">
    <mat-header-cell *matHeaderCellDef>Place</mat-header-cell>
    <td mat-cell *matCellDef="let result"> <a href="javascript:void(0)" (click)="onViewDetails(result)">Details</a> </td>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<button class="bottom-toolbar" *ngIf="!completelyLoaded" mat-raised-button color="primary" (click)="load20More()">Load More</button>
<div class="spinner-container" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
