.episodes-div {
  max-width: 400px;  //clean this up for mobile devices
  margin: 20px auto 10px auto;
}

table {
  width: 100%;
}

.episode-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.mat-icon-button {
  width: 32px !important;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 18px !important;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0 !important;
}

.spinner-container mat-spinner {
  margin: 10px auto 0 auto;
}

.load-button {
  margin-top: 10px;
}
