<div class="about">
  <h2>About AHCER APP</h2>
  <img class="ahcf-image mat-elevation-z10" src="assets/img/logo.jpg" alt="ahcf logo">

  <p>This page currently has some sample methods for getting docs and collections out of the database. Eventually it will be an page about the product itself.</p>
  <mat-divider class="divider"></mat-divider>
  <button mat-raised-button color='accent' (click)="onReadDoc()">Read Doc</button>
  <p>Read a specific document. Currently hard coded to read one Patient. Use the inspector for Chrome. Click the button, then look in the console.</p>
  <mat-divider  class="divider"></mat-divider>
  <button mat-raised-button color='accent' (click)="onReadCollection()">Read Collection</button>
  <p>Read a collection of documents. Currently hard coded to read all patients for one user. Use the inspector for Chrome. Click the button, then look in the console.</p>
</div>
