.ahcf-image {
  max-width: 300px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.about {
  padding-left: 40px;
  p {
    max-width: 350px;
    margin-bottom:15px;
  }
}

.divider {
  max-width: 350px;
  margin-bottom: 10px;
}

button {
  margin-bottom: 10px;
  display: block;
}
